<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Final</title>
    <meta name="author" content="Aditya and Jack">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="index.js"></script>
  </head>

  <body>
    <video autoplay muted loop id="bg-video">
      <source src="bg-video.mp4" type="video/mp4">
    </video>

    <a href="guest.html">
      <button id="guest-redirect" type="button" class="btn btn-outline-success">See how it works!</button>
    </a>

    <div id="create-an-account-container" class="center-horizontally center-vertically">
      <div id="create-an-account" class="text-center">
        <p>First name:</p>
        <br>
        <input type="text" id="first-name">
        <br>
        <p>Last name:</p>
        <br>
        <input type="text" id="last-name">
        <br>
        <p>Enter a 4-digit pin:</p>
        <br>
        <input type="text" name="pincode" maxlength="4" id="pin" pattern="\d{4}" required/>
        <br>
        <p>Confirm pin:</p>
        <input type="text" name="pincode" maxlength="4" id="pin-confirm" pattern="\d{4}" required/>
        <br>
        <br>
        <input id="signup-submit" type="submit" value="Submit">

      </div>
    </div>

  </body>
</html>
