#create-an-account {
  background-color: lightblue;
  margin-top: 10%;
  width: 300px;
}

.empty-graph {
  background-color: #E9E9E9;
  width: 600px;
  height: 450px;
}

.empty-graph h1, h3 {
  color: #B3B3B3;
}

.center-horizontally {
  margin: auto;
  width: 50%;
}

.center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#add-rel:hover {
  color: black;
}


#slider-input {
  display: none;
}

#prev-question-btn {
  display: none;
}

#next-question-btn {
  display: none;
}

#finish-quiz-btn {
  display: none;
}

#finish-slider-btn {
  display: none;
}

#rel-quiz-prompt {
  display: none;
}

#rel-quiz {
  display: none;
}

#all-rels-ul li {
  display: inline;
}


@keyframes flash {
  from {
    width: 75px;
    height: 75px;
  }

  to {
    width: 90px;
    height: 90px;
  }
}

.bubble {
  float: left;
  list-style-type: none;
  display: inline;
  border-radius: 50%;
  background-color: green;
  color: white;
  margin: 40px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}

.flashing-bubble {
  animation-duration: 0.4s;
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#intr-table {
  display: none;
}
