#create-an-account {
  /* background-color: lightblue; */
  background: rgba(225, 225, 225, .8);
  margin-top: 10%;
  width: 300px;
  color: white;
  font-weight: bolder;
}

.empty-graph {
  background-color: #E9E9E9;
  width: 600px;
  height: 450px;
}

.empty-graph h1, h3 {
  color: #B3B3B3;
}

.center-horizontally {
  margin: auto;
  width: 50%;
}

.center-vertically {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#add-rel:hover {
  color: black;
}


#slider-input {
  display: none;
}

#prev-question-btn {
  display: none;
}

#next-question-btn {
  display: none;
}

#finish-quiz-btn {
  display: none;
}

#finish-slider-btn {
  display: none;
}

#rel-quiz-prompt {
  display: none;
}

#rel-quiz {
  display: none;
}

#all-rels {
  display: none;
  width: 100%;
}

#rel-graph {
  display: none;
  margin-top: 150px;
  width: 60%;
}

#all-rels-ul {
  background-color: gray;
}

#all-rels-ul li {
  display: inline;
}


.bubble {
  float: left;
  list-style-type: none;
  display: inline;
  border-radius: 50%;
  background-color: green;
  color: white;
  margin: 40px;
  width: 75px;
  height: 75px;
  line-height: 75px;
  font-size: 30px;
}

.flashing-bubble {
  animation-duration: 0.4s;
  animation-name: flash;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#intr-table {
  display: none;
}

#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#create-an-account-container, #login-container {
  position: absolute;
  margin-left: 50%;
  margin-top: 10%;
  margin-right: 10%;

}

#guest-redirect {
  top: 10px;
  right: 10px;
  position: absolute;
  background-color: transparent;
  border: 2px solid lightblue;
  width: 250px;
  height: 40px;
  font-size: 20px;
  color: lightgreen;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#guest-redirect:hover {
  border: 2px solid lightblue;
  background-color: lightgreen;
  color: white;
}

#lending-table {
  display: none;
}
